# Node modules
node_modules/

# Build output
dist/
build/
*.css.map

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional env files
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store

# MacOS
Thumbs.db
